* {
    margin: 0;
    padding: 0;
}

a{
    /* 颜色跟随父节点 */
    color: inherit;
    /* 取消下划线 */
    text-decoration: none;
}

ol,ul,li{
    list-style: none;
}

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: #ffffff;
 }

.header {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .logo {
    height: 80px;
    width: 180px;
    padding: 0 0 0 145px;
    float: left;
    display: inline-block;
}

.header .logo img {
    display: block;
    margin: 27px auto;
}

.header ul > li {
    height: 80px;
    width: 18%;
    float: left;
    text-align: center;
}

.header ul > li > a {
    padding: 28px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "wenyue";
    /* float: left; */
    display: inline-block;
}

.header ul > li > a:hover {
    color: #ccc;
}

.header .ic {
    padding: 25px 145px 25px 0;
    font-size: 16px;
    float: right;
}

.banner_bg {
    width: 100%;
    min-width: 1100px;
}

.banner_bg .pc {
    width: 100%;
    min-width: 1100px;
    background-position: center center;
    /* 背景图片自适应屏幕尺寸 */
    background-size: cover;
}

.about-con {
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url(./img/ch1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    min-width: 1100px;
    margin-bottom: 160px;
}

.a_txt {
    width: 450px;
    height: 240px;
    padding-right: 50px;
    margin: 0 auto;
    margin-top: 140px;
}

.title {
    height: 30px;
    line-height: 30px;
    color: #6c6d6c;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-align: center;
}

.ntFont {
    font-family: 'NeutraText' !important;
}

.txt_con {
    color: #747574;
    line-height: 30px;
    text-indent: 24px;
    font-size: 14px;
    text-align: center;
}

.a_btn {
    position: absolute;
    left: 50%;
    bottom: 94px;
    margin-left: -70px;
    background: #fff;
}

.btn {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    width: 99px;
    color: #ccc;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 20px;
    border: 1px solid #b0b0b0;
}

.erweimabox {
    height: 170px;
    width: 100%;
    position: absolute;
    bottom: -140px;
    color: #747574;
    display: flex;
    justify-content: center;
}

.erweimabox .l-erweima {
    width: 110px;
    height: 140px;
    float: left;
    text-align: center;
    margin-right: 30px;
}

.erweimabox .l-erweima > img {
    width: 110px;
    height: 110px;
    display: block;
}

.erweimabox .l-erweima > p {
    height: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.prod_1 {
    background-color: #e7e7e7;
}

.prod {
    height: 700px;
    width: 100%;
    overflow: hidden;
    min-width: 1100px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-image: url(./img/bg_rep.png);
}

.prod_con {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.prod_txt {
    width: 370px;
    height: 200px;
    text-align: center;
    position: absolute;
}

.prod_1 .prod_txt {
    left: 40px;
    top: 360px;
}

.prod_txt > h2 {
    font-size: 18px;
    color: #6c6d6c;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}

.prod_txt > p {
    color: #747574;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
}

.pro_box {
    width: 370px;
    height: 404px;
    position: absolute;
    bottom: 0;
    right: 180px;
    background-image: url(./img/pro_1.png);
}

.pro_line {
    width: 768px;
    height: 291px;
    position: absolute;
    top: -170px;
    left: -180px;
    background-image: url(./img/pro_line.png);
}

.sz {
    width: 129px;
    height: 129px;
    position: absolute;
    top: -120px;
    left: -350px;
    background-image: url(./img/pro_1_1.png);
}

.yz1 {
    width: 76px;
    height: 71px;
    position: absolute;
    top: -220px;
    left: -75px;
    background-image: url(./img/pro_1_2.png);
}

.yz2 {
    width: 98px;
    height: 108px;
    position: absolute;
    top: -40px;
    left: 580px;
    background-image: url(./img/pro_1_3.png);
}

.prod_2 {
    background-color: #efe9df;
    background-image: url(./img/bg_rep2.png);
}

.prod_2 .pro_box {
    width: 445px;
    height: 621px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: url(./img/pro3.png);
}

.prod_2 .prod_txt {
    top: 240px;
    left: 500px;
}

.prod_2 .pro_box2 {
    position: absolute;
    width: 686px;
    height: 443px;
    bottom: 0px;
    right: -320px;
    background-image: url(./img/pro_2.png);
}

.sw {
    position: absolute;
    width: 86px;
    height: 18px;
    bottom: 326px;
    right: 320px;
    background-image: url(./img/sw.png);
}

.prod_3 {
    background-color: #fff;
    background-image: url(./img/bg_rep3.png);
}

.prod_3 .prod_txt {
    top: 300px;
    left: 30px;
}

.prod_3 .pro_box {
    width: 442px;
    height: 505px;
    bottom: 0;
    right: 50px;
    background-image: url(./img/pro4.png);
}

.prod_3 .pro_box2 {
    width: 548px;
    height: 592px;
    bottom: 0px;
    right: -8px;
    position: absolute;
    background-image: url(./img/fjx.png);
}

.prod_3 .pro_box3 {
    width: 161px;
    height: 108px;
    position: absolute;
    right: -70px;
    top: 40px;
    background-image: url(./img/fj.png);
}

.prod_4 {
    background-color: #efe9df;
    background-image: url(./img/bg_rep2.png);
}

.prod_4 .prod_txt {
    top: 300px;
    left: 50px;
}

.prod_4 .pro_box {
    width: 459px;
    height: 620px;
    bottom: 0;
    right: 40px;
    position: absolute;
    background-image: url(./img/prod4_03.png);
}

.prod_4 .pro_box2 {
    position: absolute;
    width: 192px;
    height: 164px;
    bottom: 0px;
    right: 430px;
    background-repeat: no-repeat;
    background-image: url(./img/prod4_04.png);
}

.prod_4 .pro_box3 {
    position: absolute;
    width: 157px;
    height: 289px;
    bottom: 0px;
    right: -36px;
    background-repeat: no-repeat;
    background-image: url(./img/prod4_5.png);
}

.store_box {
    width: 1100px;
    margin: 0 auto;
    min-height: 100px;
    padding: 100px 0;
}

.store_box .title {
    font-size: 28px;
    height: 100px;
    width: 1100px;
    letter-spacing: 3px;
    line-height: 100px;
    margin-bottom: 0;
    border-bottom: 1px solid #dcdcdc;
}

.store_list {
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}

.store_area {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #6c6d6c;
    margin-bottom: 20px;
}

.store_item li {
    width: 19%;
    float: left;
    height: 35px;
    cursor: pointer;
    line-height: 35px;
    padding: 0 10px 0 0;
    font-family: "FZLTXHJW,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #747574;
}

.store_item li:hover {
    color: #dcdcdc
}

.tipsBox {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 70px;
}

.yzsm {
    display: block;
    margin: 30px auto;
}

.tipsBox p {
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #747574;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
}

.swiper-container-autoheight .swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container img {
    width: 100%;
    min-width: 1100px;
}

.swiper_txt {
    position: absolute;
    width: 500px;
    min-height: 100px;
    bottom: 100px;
    left: 50%;
    margin-left: -250px;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.swiper_txt .title {
    font-size: 18px;
    color: #fff;
    height: 40px;
    margin-bottom: 0;
    line-height: 40px;
}

.swiper_txt p {
    line-height: 20px;
    letter-spacing: 2px;
}

.swiper-button-prev.swiper-button-white {
    background-image: url(./img/left.png);
}

.swiper-container .swiper-button-prev {
    left: 15%;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: .2;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-container .swiper-button-next {
    right: 15%;
}

.swiper-button-next.swiper-button-white {
    background-image: url(./img/right.png);
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next {
    opacity: .2;
    cursor: auto;
    pointer-events: none;
}